<% blogs.sort((a,b)=>{ if(a.postDate>b.postDate){ return -1} else return 1 }) %>

<!DOCTYPE html>
<html lang="en">
  %> <% const isThereBlogByCurrentUser=blogs.some((blog)=>
  blog.username===username) %>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="./static/style.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script defer src="./static/script.js"></script>
    <title>pure platform blog</title>
    <style>
      .the-card {
        display: flex;
        gap: 20px;
      }

      .likes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;
      }
    </style>
  </head>
  <body>
    <a
      href="/logout"
      id="logout"
      class="btn btn-danger"
      style="
        margin-left: auto;
        margin-top: 10px;
        margin-right: 5%;
        display: block;
        width: 100px;
      "
    >
      Logout
    </a>

    <h1 class="display-1">Pure platform Blog</h1>
    <p class="display-3">
      Welcome to the blog <span id="username"><%=username%></span> !
    </p>

    <form method="post" class="form">
      <div class="mb-3 field">
        <input
          type="text"
          class="form-control"
          id="name"
          value="<%= username %>"
          disabled
          required
        />
      </div>
      <div class="mb-3 field">
        <textarea
          name="content"
          class="form-control"
          id="content"
          rows="5"
          placeholder="What you you like to share ?"
          required
          maxlength="1000"
          minlength="20"
        ></textarea>
      </div>
      <button type="submit" class="btn btn-info btn-lg">Post the blog</button>
    </form>
    <div class="card">
      <% blogs.forEach(blog => { %>
      <div class="the-card">
        <div class="likes">
          <i
            class="fa-solid fa-up-long"
            data-type="up"
            data-id="<%= blog.id %>"
          ></i>
          <span class="numOflikes"><%=blog.numberOfLikes%></span>
          <i
            class="fa-solid fa-down-long"
            data-type="down"
            data-id="<%= blog.id %>"
          ></i>
        </div>
        <div class="a-card">
          <div class="card-header">
            <span data-type="username" data-username="<%= blog.username  %>">
              <%= username===blog.username?'YOU':blog.username %>
            </span>
            <% if (blog.username===username) { %>
            <div>
              <i
                class="fa-regular fa-pen-to-square"
                data-id="<%= blog.id %>"
                data-type="edit"
              ></i>
              <i
                class="fa-solid fa-delete-left"
                data-id="<%= blog.id %>"
                data-type="delete"
              >
              </i>
            </div>

            <% } %>
          </div>
          <div class="card-body">
            <p class="card-text" data-type="content"><%= blog.content %></p>
            <p class="card-text" data-type="date">
              <%= blog.postDate.toLocaleString() %>
            </p>
          </div>
        </div>
      </div>
      <% }) %> <% if (isThereBlogByCurrentUser) { %><button
        type="reset"
        class="btn btn-danger deleteAll"
      >
        Delete All Your posts
      </button>
      <%}%>
    </div>
  </body>
</html>
